snippet fsl
	# frozen_string_literal: true
snippet bp
	binding.pry
snippet rud
	# rubocop:disable ${1:Cop}
snippet rue
	# rubocop:enable ${1:Cop}
snippet subjn
	subject(:${1:object}) { described_class${2} }
snippet itexp
	it { expect(${1:object}).to ${0} }
