*.db
*.swp
*~
.DS_Store
claude/hooks/__pycache__
docs/*.pdf
emacs.d/.smex-items
emacs.d/ac-comphist.dat
emacs.d/elpa
emacs.d/eshell
emacs.d/places
emacs.d/tramp
gnupg/*.gpg
gnupg/random_seed
lein/repl-history
vim/.netrwhist
vim/bundle
vim/plugged
vim/thesaurus/*.txt
